.uk-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-marging{
    margin-top: 30px;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
body{
    background: #C8E0E6;
}
.uk-card-default{
    box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
}
.align-img>img{
    height: 250px;
}

/* Utilitaires */
.f-size-xl{
    font-size: 42px;
}
h2{
    margin-bottom: 40px;
}
/* Nav Bar */

.menu-bg{
    background-color: #fff;
    box-shadow: 0 0 25px rgb(0 0 0 / 16%);

}
.uk-navbar-nav>li>a{
    color: black;
}

/* Contenu */
.spc-beet{
    display: flex;
    flex-direction: column;
    place-content: space-between;
}
.uk-button{
    border: 2px solid black;
    transition: 0.5s;
}
.uk-button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}